/* Font Family */

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('../fonts/Inter-Regular.ttf');
}

/* Universal Styles */

html {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    color: #717D96;
}

body {
    margin: 0;
    padding-top: 5rem;
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav{
    font-family: Inter;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    border-bottom: 0.25rem solid #1A202C;
    background-color: white;
}

a {
    font-size: 1.125rem;
    text-decoration: none;
}

a:hover {
    color: #1A202C;
    transition: color .30s;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

section > h1 {
    font-family: Inter;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

button {
    font-size: 1.125rem;
    height: 2.5rem;
    width: 10rem;
    color: #fff;
    background-color: #2D3648;
    border: 2px solid #2D3648;
    border-radius: 0.375rem;
    cursor: pointer;
}

button:hover {
    font-size: 1.175rem;
    background-color: #1A202C;
    transition: background-color .20s, font-size .20s;
}

textarea {
    width: 80%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

/* Class Styles */

.nav-links {
    display: flex;
    margin: auto 0;
    flex-wrap: nowrap;
}

.nav-items {
    padding: 0rem 1rem;
}

.mobile {
    display: none;
}

.banner {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
}

.blur-rectangle {
    height: 100%;
    width: 100%;
    background: rgba(34,34,34,0.75);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.125rem); 
    z-index: 1;
}

.thumbnail-section {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    gap: 3rem;

}

.thumbnail, .thumbnail-nohover {
    display: flex;
    flex-direction: column;
    flex: 0 2 20rem;
    height: 30rem;
    border: 2px solid #1A202C;
    border-radius: 0.25rem;
    transition: width .20s, height .20s;
}

.thumbnail-nohover {
    background-color:#272f3f;
}

.thumbnail-image {
    height: 75%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.thumbnail-txtbox {
    padding: 1rem;
    height: 20%;
    border-top: 2px solid #1A202C;
}

.thumbnail-txtbox h2 {
    font-family: Inter;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.large-button {
    height: 4rem;
    width: 25rem;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.footer-right {
    display: flex;
}

.footer-right > li {
    padding: 0rem 1rem;
}

/* ID Styles */

#title {
    font-size: 5rem;
    color: #fff;
    padding: 0 2.5rem;
    position: relative;
    text-align: center;
    z-index: 2;
}

#gray-banner {
    background-color: #2D3648;
    color: white;
}

#footerlink:hover {
    color: #a0a4ac;
}

#image1 {
    background-image: url(../img/card1.png);
}

#image2 {
    background-image: url(../img/card2.png);
}

#image3 {
    background-image: url(../img/card3.png);
}

#person1 {
    background-image: url(../img/person1.jpeg);
}

#person2 {
    background-image: url(../img/person2.jpeg);
}

#person3 {
    background-image: url(../img/person3.jpeg);
}

#person4 {
    background-image: url(../img/person4.jpeg);
}

/* Media Queries */
@media only screen and (max-width: 1120px) {
    .thumbnail-txtbox h2 {
        font-size: 1.25rem;
    }

    .thumbnail-txtbox p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 900px) {
    .thumbnail-txtbox h2 {
        font-size: 1rem;
    }

    .thumbnail-txtbox p {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .mobile * {
        font-size: 2rem;
    }

    .thumbnail-section {
        flex-wrap: wrap;
    }

    .thumbnail-txtbox h2 {
        font-size: 1.5rem;
    }

    .thumbnail-txtbox p {
        font-size: 1.125rem;
    }
    
    footer * {
        font-size: 0.75rem;
    }

    footer {
        padding: 3rem;
    }
}